
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.dusk.*
.phpunit.result.cache
.php_cs.cache
.phpstorm.meta.php
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
database/database.sqlite
*.csv
_ide_helper.php
_ide_helper_models.php
_ide_helper_names.php
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
